In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
df=pd.read_csv("train.csv")
df.dropna(inplace=True)
df_Xtrain=pd.get_dummies(df,columns=['PRIM_STATE','NAICS_TITLE','OCC_TITLE'])
df1=df_Xtrain.copy()
df1.drop(['A_PCT10','A_PCT25','A_MEDIAN','A_PCT75','A_PCT90'],axis=1,inplace=True)
X=df1
y=df[['A_PCT10','A_PCT25','A_MEDIAN','A_PCT75','A_PCT90']]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# define model
rf_model = RandomForestRegressor(random_state=0)
# fit model
rf_model.fit(X_train,y_train)
train_rf_score = rf_model.score(X_train,y_train)
test_rf_score = rf_model.score(X_test,y_test)
y_pred = rf_model.predict(X_test)

In [4]:
#train,test score (r2 score)
train_rf_score,test_rf_score

(0.9552580898676428, 0.6842870841698085)

In [48]:
df_pred=pd.DataFrame(y_pred)
y_test=y_test.reset_index(drop=True)
df_concat=pd.concat([y_test,df_pred],axis = 1)
df_concat.head()

,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,0,1,2,3,4
0,23070.0,28800.0,30880.0,37840.0,47540.0,21551.0,25471.6,30639.3,36963.7,47454.2
1,22380.0,23440.0,29020.0,47060.0,76750.0,19551.1,23248.9,29582.1,47875.4,78898.8
2,37340.0,48590.0,73120.0,99510.0,128520.0,43218.8,58513.1,79002.1,102118.6,129682.0
3,22430.0,23280.0,29010.0,38020.0,60970.0,19551.1,23248.9,29582.1,47875.4,78898.8
4,36560.0,48710.0,76710.0,98660.0,154730.0,36592.2,48314.4,65495.9,84419.1,129059.4

In [49]:
df_concat.columns

Index(['A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 0, 1, 2, 3, 4], dtype='object')

In [50]:
df_concat=df_concat.rename(columns={0: "A_PCT10_pred", 1: "A_PCT25_pred",2: "A_MEDIAN_pred", 3: "A_PCT75_pred",4:"A_PCT90_pred"})

In [51]:
df_concat

,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,A_PCT10_pred,A_PCT25_pred,A_MEDIAN_pred,A_PCT75_pred,A_PCT90_pred
0,23070.0,28800.0,30880.0,37840.0,47540.0,21551.0,25471.6,30639.3,36963.7,47454.2
1,22380.0,23440.0,29020.0,47060.0,76750.0,19551.1,23248.9,29582.1,47875.4,78898.8
2,37340.0,48590.0,73120.0,99510.0,128520.0,43218.8,58513.1,79002.1,102118.6,129682.0
3,22430.0,23280.0,29010.0,38020.0,60970.0,19551.1,23248.9,29582.1,47875.4,78898.8
4,36560.0,48710.0,76710.0,98660.0,154730.0,36592.2,48314.4,65495.9,84419.1,129059.4
...,...,...,...,...,...,...,...,...,...,...
427,47630.0,60360.0,79510.0,119180.0,134400.0,46552.9,60522.4,79603.4,115890.6,146524.8
428,39270.0,58780.0,75230.0,80550.0,107520.0,46875.2,60507.6,77900.7,100219.7,128043.2
429,23870.0,29560.0,36910.0,47880.0,61730.0,23376.3,29084.9,36854.8,47362.4,60563.2
430,43320.0,57110.0,76600.0,98070.0,121350.0,24003.5,28951.9,33509.7,47849.1,65451.1
431,37020.0,48420.0,77470.0,103310.0,135380.0,47795.5,63094.8,88283.1,117052.4,148768.2

In [52]:
df_concat.dtypes

A_PCT10          float64
A_PCT25          float64
A_MEDIAN         float64
A_PCT75          float64
A_PCT90          float64
A_PCT10_pred     float64
A_PCT25_pred     float64
A_MEDIAN_pred    float64
A_PCT75_pred     float64
A_PCT90_pred     float64
dtype: object

In [58]:
df_concat.head()

,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,A_PCT10_pred,A_PCT25_pred,A_MEDIAN_pred,A_PCT75_pred,A_PCT90_pred
0,23070.0,28800.0,30880.0,37840.0,47540.0,21551.0,25471.6,30639.3,36963.7,47454.2
1,22380.0,23440.0,29020.0,47060.0,76750.0,19551.1,23248.9,29582.1,47875.4,78898.8
2,37340.0,48590.0,73120.0,99510.0,128520.0,43218.8,58513.1,79002.1,102118.6,129682.0
3,22430.0,23280.0,29010.0,38020.0,60970.0,19551.1,23248.9,29582.1,47875.4,78898.8
4,36560.0,48710.0,76710.0,98660.0,154730.0,36592.2,48314.4,65495.9,84419.1,129059.4

In [59]:
#axis =1 --> column wise
df_concat.apply(lambda x :  0.1*x[0] ,axis=1)

0      2307.0
1      2238.0
2      3734.0
3      2243.0
4      3656.0
        ...
427    4763.0
428    3927.0
429    2387.0
430    4332.0
431    3702.0
Length: 432, dtype: float64

In [61]:
df_concat["10_"]=df_concat.apply(lambda x :  0.1*(abs(x[5] - x[0])/x[0]) ,axis=1)
df_concat["25_"]=df_concat.apply(lambda x :  0.2*(abs(x[6] - x[1])/x[1]) ,axis=1)
df_concat["50_"]=df_concat.apply(lambda x :  0.4*(abs(x[7] - x[2])/x[2]) ,axis=1)
df_concat["75_"]=df_concat.apply(lambda x :  0.2*(abs(x[8] - x[3])/x[3]) ,axis=1)
df_concat["90_"]=df_concat.apply(lambda x :  0.1*(abs(x[9] - x[4])/x[4]) ,axis=1)

In [65]:
df_concat.columns

Index(['A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'A_PCT10_pred',
       'A_PCT25_pred', 'A_MEDIAN_pred', 'A_PCT75_pred', 'A_PCT90_pred', '10_',
       '25_', '50_', '75_', '90_'],
      dtype='object')

In [70]:
(df_concat[[ '10_','25_', '50_', '75_', '90_']].sum().sum())/ len(df_concat)

0.13772344683050508

In [78]:
actual_percentiles = [10000, 30000, 60000, 80000, 100000]
predicted_percentiles = [11000, 33000, 54000, 88000, 120000]
c = actual_percentiles + predicted_percentiles
demo=pd.DataFrame(c).T
demo.head()

       0      1      2      3       4      5      6      7      8       9
0  10000  30000  60000  80000  100000  11000  33000  54000  88000  120000

In [79]:
demo["10_"]=demo.apply(lambda x :  0.1*(abs(x[5] - x[0])/x[0]) ,axis=1)
demo["25_"]=demo.apply(lambda x :  0.2*(abs(x[6] - x[1])/x[1]) ,axis=1)
demo["50_"]=demo.apply(lambda x :  0.4*(abs(x[7] - x[2])/x[2]) ,axis=1)
demo["75_"]=demo.apply(lambda x :  0.2*(abs(x[8] - x[3])/x[3]) ,axis=1)
demo["90_"]=demo.apply(lambda x :  0.1*(abs(x[9] - x[4])/x[4]) ,axis=1)

In [81]:
(demo[[ '10_','25_', '50_', '75_', '90_']].sum().sum())/ len(demo)

0.11000000000000001

In [85]:
def MNWAE(df):
    df["10_"]=df.apply(lambda x :  0.1*(abs(x[5] - x[0])/x[0]) ,axis=1)
    df["25_"]=df.apply(lambda x :  0.2*(abs(x[6] - x[1])/x[1]) ,axis=1)
    df["50_"]=df.apply(lambda x :  0.4*(abs(x[7] - x[2])/x[2]) ,axis=1)
    df["75_"]=df.apply(lambda x :  0.2*(abs(x[8] - x[3])/x[3]) ,axis=1)
    df["90_"]=df.apply(lambda x :  0.1*(abs(x[9] - x[4])/x[4]) ,axis=1)
    mnwae=(df[[ '10_','25_', '50_', '75_', '90_']].sum().sum())/ len(df)
    return mnwae

In [89]:
y_test
y_pred = pd.DataFrame(y_pred, columns=["A_PCT10_pred","A_PCT25_pred","A_MEDIAN_pred","A_PCT75_pred","A_PCT90_pred"])

In [90]:
y_pred

     A_PCT10_pred  A_PCT25_pred  A_MEDIAN_pred  A_PCT75_pred  A_PCT90_pred
0         21551.0       25471.6        30639.3       36963.7       47454.2
1         19551.1       23248.9        29582.1       47875.4       78898.8
2         43218.8       58513.1        79002.1      102118.6      129682.0
3         19551.1       23248.9        29582.1       47875.4       78898.8
4         36592.2       48314.4        65495.9       84419.1      129059.4
..            ...           ...            ...           ...           ...
427       46552.9       60522.4        79603.4      115890.6      146524.8
428       46875.2       60507.6        77900.7      100219.7      128043.2
429       23376.3       29084.9        36854.8       47362.4       60563.2
430       24003.5       28951.9        33509.7       47849.1       65451.1
431       47795.5       63094.8        88283.1      117052.4      148768.2

[432 rows x 5 columns]

In [ ]:
def np_to_df(n1):
    df=pd.DataFrame(n1, columns=[["A_PCT10_pred","A_PCT25_pred","A_MEDIAN_pred","A_PCT75_pred","A_PCT90_pred"]])
    return df

In [ ]:
df_pred=np_to_df(y_pred)
concat_pred_true(y_test,df_pred)

In [ ]:
def concat_pred_true(df1,df2):
    df_concat=pd.concat([df1,df2],axis = 1)
    return df_concat

In [ ]:
#result table
pd.DataFrame("Models": ["KNN","Decision Trees","Random Forest", "RF with Cross Validation", "MultiOutputRegressor with GradientBoosing", "MultiOutputRegressor with GradientBoosing With Cross Validation","MultiOutputRegressor with XGBoosting", "MultiOutputRegressor with XGBoosting with Cross Validation" ], "MNWAE": [])

In [92]:
from sklearn.datasets import make_multilabel_classification
import numpy as np
X, y = make_multilabel_classification(
    n_samples=32, n_classes=5, n_labels=3, random_state=0
)

In [95]:
pd.DataFrame(y)

    0  1  2  3  4
0   0  0  1  1  1
1   1  1  0  1  0
2   0  1  0  1  1
3   0  0  0  0  1
4   1  1  1  1  1
5   0  1  0  1  0
6   1  1  1  1  1
7   0  1  0  0  0
8   0  1  0  0  0
9   1  0  1  1  0
10  0  1  1  1  0
11  1  1  0  0  0
12  1  0  1  1  0
13  1  0  0  0  1
14  0  1  1  0  0
15  0  0  0  0  0
16  1  1  1  1  1
17  1  1  1  1  1
18  1  0  1  1  1
19  0  0  0  0  0
20  0  0  0  0  0
21  0  1  1  1  0
22  1  1  1  1  0
23  1  0  0  1  0
24  1  1  1  1  1
25  1  0  0  0  1
26  1  0  1  0  0
27  0  0  1  0  0
28  0  1  1  1  1
29  1  0  0  1  1
30  1  1  0  0  0
31  0  1  1  0  1